*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #080808;
  color: #fff;
}
#Header{
  width: 90%;
  height:88vh;
  background-image: url(../src/Images/myimgb.png);
  background-position: right;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin:20px 50px;
}
#logo{
  font-size: 2rem;
}
#logo::first-letter{
  color: #ff004f;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size:1rem;
  position: relative;
  transition: 0.5s;
}
nav ul li a::after{
  content: '';
  width: 0px;
  height: 2px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

/* ******************section style****************** */
.leftSection{
  padding-left: 100px;
  padding-top: 20%;
  font-size: 2.6rem; 
}
.text-red{
  color: #ff004f;
}

/* ---------------about------------------------ */

#about{
padding: 50px 0;
color: #ababab;
}
.row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 0 60px ;
}
.about-col-1{
  flex-basis:35%;
}
.about-col-1 img{
  width: 80%;
  border-radius: 15px;
  background-color: rgba(39, 36, 36, 0.658);
}
.about-col-2{
  flex-basis: 65%;
}
.about-col-2 h1{
  margin-bottom: 15px;
}

.subTitle{
  font-size:3rem;
  font-weight: 600;
  color: #fff;
}
.about-col-2>p{
  font-size:0.9rem;
  /* display: inline-block;
  width: 70%; */
}
.tab-titles{
  display: flex;
  margin: 20px 0;
}
.tab-links{
  margin-right: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.tab-links::after
{
  content: '';
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after
{
  width: 50%;
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
font-size: 0.8rem;
}
.tab-contents ul li span{
  color: #b54769;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab
{
  display: block;
}

/* *******************service style**************************** */
#services{
  padding: 50px 50px;
}

.service-list{
  display: flex;
  /* grid-template-columns:repeat(auto-fit,minmax(250px,0fr));
  grid-gap:40px; */
  align-items: center;
  justify-content: center;
  margin-top:50px;
}
.service-list div h2{
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}
.service-list div{
  background:#262626;
  height: 400px;
  width: 300px;
  padding: 40px;
  margin: 0px 40px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.service-list div i{
  font-size:2rem;
  margin-bottom: 20px;
}
.service-list div p{
  font-size: 0.9rem;
}
.service-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 10px;
  display: inline-block;
}
.service-list div:hover
{
background: #ff004f;
transform: translateY(-10px);
}

/* 
************service style**************************** */ 
#portfolio{
  padding: 50px 50px;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(390px,0fr));
  grid-gap:30px;
  margin-top:50px;
  
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  height:100%;
  border-radius: 10px;
  display: block;
  transition:transform 0.5s ;
}
.layer{
  width: 100%;
  height:0;
  background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  transition: height 0.5s;
}
.layer h3{
 font-weight: 500;
 margin-bottom:1.1rem; 
} 
.layer p{
 font-size: 0.9rem;
} 
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
} 
.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}
.btn{
  color: #fff;
  display: block;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 15px 45px;
  margin: 50px auto;
  border-radius: 6px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* ********************contact me****************/
#contact{
   display: grid;
   align-items: center;
   justify-content: center;
   padding-top: 60px;
}
#contact p{
  margin-top: 30px;
  font-size: 1.1rem;
}
#contact p i{
  color: #ff004f;
  font-size: 1.6rem;
  margin-right: 15px;
}
.social-icons{
  margin-top: 40px;
}
.social-icons a{
  text-decoration: none;
  font-size: 2rem;
  margin-right: 28px;
  color: #ababab;
  display: inline-block;
  transition: transform 3px;
}

.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-3px);
}
.btn2{
  background-color: #ff004f;
  display: inline-block;
}
.btn2:hover{
  background-color: #fa2e6f;
  display: inline-block;
}

/*----------------------- CSS for small screens----------------------- */
nav .fa-solid{
display: none;
}

@media (max-width:600px) {
  nav{
      margin: 0 40px;
  }
 #Header{
  background-image: none;
  height: 100vh;
  width: 100vw;
  
 }

 .leftSection{
  font-size: 25px;
  font-weight: 500;
  padding-top: 30%;
  padding-left: 80px;
 
 }
 nav{
  margin: 25px 50px;
 }
 nav .fa-solid{
  display: block;
  font-size: 20px;
 }
 nav #logo
 {
  font-size: 1.7rem;
 }

 nav ul{
  background: #ff004f;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
 }
 nav ul li{
  display: block;
  margin-top: 25px;
 }

 nav ul .fa-solid{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
 }

 #about{
  padding: 20px 0;
  }
  .row{
    padding: 0 50px;
  }
 .subTitle{
  font-size:30px;
 }
 .about-col-1,.about-col-2 {
  flex-basis:70%;
 }
 .about-col-1{
  margin-bottom: 20px;
 }
 .about-col-1 img{
  width: 45%;
 }
 .about-col-2>p{
  font-size: 12px;
 }
 .tab-links{
  margin-right: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}
.tab-links::after
{
  height: 3px;
}
.tab-contents ul li{
  margin: 6px 0;
  font-size: 0.75rem;
  
  }
  .tab-contents ul li span{
    font-size: 0.78rem;
  }

  #services{
    padding: 30px 50px;
   }
 .service-list{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top:40px;
 }
 .service-list div{
  height:340px;
  width: 280px;
  margin-bottom: 20px;
 }
.service-list div i{
  font-size: 1.6rem;
  margin-bottom: 20px;
 }
.service-list div h2{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 14px;
 }
 .service-list div p{
  font-size: 0.75rem;
}
.service-list div a{
  font-size: 0.65rem;
}
#portfolio{
  padding: 40px 50px;
}
.work-list{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top:40px;
  
}
.work{
  height: 220px;
  width: 300px;
  margin: auto;
}
.layer h3{
  font-size: 1rem;
  font-weight: 400;
}
.layer p{
  font-size: 0.8rem;
}
.layer a{
  font-size: 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
}
.btn{
  padding: 10px 35px;
  margin: 50px auto;
  font-size: 0.75rem;
}

#contact{
  display: grid;
  align-items: center;
  justify-content: center;
 }
 #contact p{
  font-size: 0.8rem;
  margin-right: 15px;
}
}

@media (max-width:420px) {

  #Header{
    height: 85vh;
   }
 .leftSection{
  font-size: 18px;
  padding-top: 50%;
  padding-left: 60px;
  font-weight:100;
 }
 nav .fa-solid{
  display: block;
  font-size:16px;
 }
 .about-col-1 img{
  width: 65%;
}
 .subTitle{
  font-size: 22px;
 }
 .service-list{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top:30px;
 }
 .service-list div{
  height:350px;
  width: 250px;
 }
 .work{
  height: 200px;
  width: 280px;
  margin: auto;
}
}

  
